<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-empresa-heading" data-cy="EmpresaCreateUpdateHeading" jhiTranslate="proyectoTfc1App.empresa.home.createOrEditLabel">
        Create or edit a Empresa
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectoTfc1App.empresa.numeroConvenio" for="field_numeroConvenio"
            >Numero Convenio</label
          >
          <input
            type="text"
            class="form-control"
            name="numeroConvenio"
            id="field_numeroConvenio"
            data-cy="numeroConvenio"
            formControlName="numeroConvenio"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectoTfc1App.empresa.localidad" for="field_localidad">Localidad</label>
          <input type="text" class="form-control" name="localidad" id="field_localidad" data-cy="localidad" formControlName="localidad" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectoTfc1App.empresa.tutor" for="field_tutor">Tutor</label>
          <input type="text" class="form-control" name="tutor" id="field_tutor" data-cy="tutor" formControlName="tutor" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
