<div>
  <h2 id="page-heading" data-cy="CentroHeading">
    <span jhiTranslate="proyectoTfc1App.centro.home.title">Centros</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="proyectoTfc1App.centro.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-centro"
        [routerLink]="['/centro/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="proyectoTfc1App.centro.home.createLabel"> Create a new Centro </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="centros?.length === 0">
    <span jhiTranslate="proyectoTfc1App.centro.home.notFound">No centros found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="centros && centros.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="denominacion">
            <span jhiTranslate="proyectoTfc1App.centro.denominacion">Denominacion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="codigo">
            <span jhiTranslate="proyectoTfc1App.centro.codigo">Codigo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="domicilio">
            <span jhiTranslate="proyectoTfc1App.centro.domicilio">Domicilio</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="localidad">
            <span jhiTranslate="proyectoTfc1App.centro.localidad">Localidad</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="municipio">
            <span jhiTranslate="proyectoTfc1App.centro.municipio">Municipio</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="provincia">
            <span jhiTranslate="proyectoTfc1App.centro.provincia">Provincia</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="codigoPostal">
            <span jhiTranslate="proyectoTfc1App.centro.codigoPostal">Codigo Postal</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="director.id">
            <span jhiTranslate="proyectoTfc1App.centro.director">Director</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let centro of centros; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/centro', centro.id, 'view']">{{ centro.id }}</a>
          </td>
          <td>{{ centro.denominacion }}</td>
          <td>{{ centro.codigo }}</td>
          <td>{{ centro.domicilio }}</td>
          <td>{{ centro.localidad }}</td>
          <td>{{ centro.municipio }}</td>
          <td>{{ centro.provincia }}</td>
          <td>{{ centro.codigoPostal }}</td>
          <td>
            <div *ngIf="centro.director">
              <a [routerLink]="['/director', centro.director?.id, 'view']">{{ centro.director?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/centro', centro.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/centro', centro.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(centro)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="centros && centros.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
