<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-ciclo-heading" data-cy="CicloCreateUpdateHeading" jhiTranslate="proyectoTfc1App.ciclo.home.createOrEditLabel">
        Create or edit a Ciclo
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectoTfc1App.ciclo.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectoTfc1App.ciclo.clave" for="field_clave">Clave</label>
          <input type="text" class="form-control" name="clave" id="field_clave" data-cy="clave" formControlName="clave" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="proyectoTfc1App.ciclo.centro" for="field_centro">Centro</label>
          <select class="form-control" id="field_centro" data-cy="centro" name="centro" formControlName="centro">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="centroOption.id === editForm.get('centro')!.value?.id ? editForm.get('centro')!.value : centroOption"
              *ngFor="let centroOption of centrosSharedCollection; trackBy: trackCentroById"
            >
              {{ centroOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
