<div>
  <h2 id="page-heading" data-cy="TutorHeading">
    <span jhiTranslate="proyectoTfc1App.tutor.home.title">Tutors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="proyectoTfc1App.tutor.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tutor"
        [routerLink]="['/tutor/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="proyectoTfc1App.tutor.home.createLabel"> Create a new Tutor </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tutors?.length === 0">
    <span jhiTranslate="proyectoTfc1App.tutor.home.notFound">No tutors found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tutors && tutors.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dni"><span jhiTranslate="proyectoTfc1App.tutor.dni">Dni</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nombre">
            <span jhiTranslate="proyectoTfc1App.tutor.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="apellido">
            <span jhiTranslate="proyectoTfc1App.tutor.apellido">Apellido</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="centro.id">
            <span jhiTranslate="proyectoTfc1App.tutor.centro">Centro</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tutor of tutors; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tutor', tutor.id, 'view']">{{ tutor.id }}</a>
          </td>
          <td>{{ tutor.dni }}</td>
          <td>{{ tutor.nombre }}</td>
          <td>{{ tutor.apellido }}</td>
          <td>
            <div *ngIf="tutor.centro">
              <a [routerLink]="['/centro', tutor.centro?.id, 'view']">{{ tutor.centro?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/tutor', tutor.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/tutor', tutor.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tutor)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="tutors && tutors.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
