<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="empresa">
      <h2 data-cy="empresaDetailsHeading"><span jhiTranslate="proyectoTfc1App.empresa.detail.title">Empresa</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ empresa.id }}</span>
        </dd>
        <dt><span jhiTranslate="proyectoTfc1App.empresa.numeroConvenio">Numero Convenio</span></dt>
        <dd>
          <span>{{ empresa.numeroConvenio }}</span>
        </dd>
        <dt><span jhiTranslate="proyectoTfc1App.empresa.localidad">Localidad</span></dt>
        <dd>
          <span>{{ empresa.localidad }}</span>
        </dd>
        <dt><span jhiTranslate="proyectoTfc1App.empresa.tutor">Tutor</span></dt>
        <dd>
          <span>{{ empresa.tutor }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/empresa', empresa.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
