<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm">
      <h2 id="jhi-venta-heading" data-cy="VentaCreateUpdateHeading">ANEXO 2.1. Relación de alumnos ordinario</h2>

      <div class="form-group">
        <label class="form-control-label" for="field_alumno">Selecciona Alumno:</label>
        <select (change)="funcion($event)" class="form-control" id="field_alumno" data-cy="alumno" name="alumno" formControlName="alumno">
          <option *ngFor="let alumnoOption of alumnosSharedCollection; trackBy: trackAlumnoById">
            {{ alumnoOption.id }}-{{ alumnoOption.dni }}-{{ alumnoOption.nombre }}
          </option>
        </select>
      </div>

      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID Alumno</th>
              <th scope="col">Nombre Alumno</th>
              <th scope="col">Apellido Alumno</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="traerdatos != undefined">
              <td>{{ traerdatos.id }}</td>
              <td>{{ traerdatos.nombre }}</td>
              <td>{{ traerdatos.apellido }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID Tutor</th>
              <th scope="col">Nombre Tutor</th>
              <th scope="col">Apellido Tutor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="traerdatos != undefined && traerdatos.tutor != undefined">
              <td>{{ traerdatos.tutor.id }}</td>
              <td>{{ traerdatos.tutor.nombre }}</td>
              <td>{{ traerdatos.tutor.apellido }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>
