<div class="row">
  <div class="col-md-9">
    <h1 class="display-4">IES Enrique Tierno Galvan FCT's.</h1>

    <div [ngSwitch]="isAuthenticated()">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >You are logged in as user "{{ account.login }}".</span
        >
      </div>
    </div>

    <div>
      <table>
        <tbody>
          <tr>
            <td>
              <img width="475" height="300" src="../../../content/images/libros.jpg" />
            </td>
            <td>
              <img width="475" height="300" src="../../../content/images/ofice.jpg" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
